.vscode/
build/
libft/build/
libft/libft.a
libft/objs
libft/objs/
objs/
srcs/02_parser/main-test.c
srcs/test.c
a.out
files_management.d
main-test.d
parser.d
minishell
minishell-tester
minishell42tester
